<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css" nonce="egQ_p1IieDG2oHX5hIrVtg">
body,td,div,p,a,input {font-family: arial, sans-serif;}
</style>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico" type="image/x-icon">
<!-- <title>Gmail - You've received BTC</title> -->
<style type="text/css" nonce="egQ_p1IieDG2oHX5hIrVtg">
body, td {font-size:13px} a:link, a:active {color:#1155CC; text-decoration:none} a:hover {text-decoration:underline; cursor: pointer} a:visited{color:##6611CC} img{border:0px} pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; max-width: 800px; overflow: auto;} .logo { left: -7px; position: relative; }
</style>
</head>
<body>
<div class="bodycontainer">

    <!-- <table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr height="14px">
<td width="143"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_server_1x.png" width="143" height="59" alt="Gmail" class="logo"></td>
<td align="right"><font size="-1" color="#777"><b>favour moyeso &lt;favourmoyeso1997@gmail.com&gt;</b></font></td>
</tr>
</table>
<hr> -->
<div class="maincontent">
<!-- <table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr><td><font size="+1"><b>You've received BTC</b></font><br></td></tr>
</table>
<hr> -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" class="message">
<!-- <tr><td><font size="-1"><b>OKX </b>&lt;sent@xolox.buzz&gt;</font></td>
<td align="right"><font size="-1">Tue, Aug 19, 2025 at 1:10 PM</font></td>
</tr>
<tr><td colspan="2" style="padding-bottom: 4px;"><font size="-1" class="recipient"><div>To: favourmoyeso1997@gmail.com</div></font></td></tr> -->
<tr><td colspan="2">
<table width="100%" cellpadding="12" cellspacing="0" border="0">
<tr><td>
<div style="overflow: hidden;">
<font size="-1">
<div style="max-width:100%;text-align:center;margin:20px auto">

  {{#if warning}}
<div style="background-color:#d0604c;border-radius:8px;color:white;padding:20px">
<div style="font-size:18px;font-weight:bold;margin-bottom:10px">⚠</div>
<p style="font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;font-size:14px;font-weight:bold;line-height:1.4">
   {{warning}}
</p>
</div>
</div>
  {{/if}}

<p><br></p>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:repeat rgb(255,255,255);color:#222222;font-family:Arial,Helvetica,sans-serif;font-size:small;height:788.013px;width:506.4px">
<tbody>
<tr>
<td style="margin:0px">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0px auto;max-width:508px;width:506.4px">
<tbody>
<tr>
<td style="margin:0px">
<div style="border-top-left-radius:8px;border-top-right-radius:8px;height:61.8125px;overflow:hidden;text-align:center;width:506.4px">
<img alt="" src="https://ci5.googleusercontent.com/proxy/73NcdwssRJ-AAq74A0rqsDV-Y4-0zCG3Hu8wQaDMJ-KPWuhFT5SqODO8der-JCFkH9ZROIUgW0FvXJR0cU2U-oAInEyZ_tDl7tHCTv0cn8SDgVeKziB5P-ApyVTeYZE=s0-d-e1-ft#https://static.coinall.ltd/cdn/oksupport/headImg/20221114/1668405560165.jpeg" style="width:506.4px">
</div>
</td>
</tr>
</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-clip:initial;background-image:initial;background-origin:initial;background-position:initial;background-repeat:initial;background-size:initial;margin:15px auto 8px;max-width:508px;width:506.4px">
<tbody>
<tr>
<td style="margin:0px;padding:0px 24px">
<p style="font-family:'HarmonyOS Sans','SF Pro Text','SF Pro Icons',robot,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:18px;font-weight:900;line-height:23.4px;margin:0px auto;width:458.4px;word-break:break-word">You've received BTC</p>
</td>
</tr>
</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-clip:initial;background-image:initial;background-origin:initial;background-position:initial;background-repeat:initial;background-size:initial;margin:0px auto;max-width:508px;width:506.4px">
<tbody>
<tr>
<td style="margin:0px;padding:0px 24px;text-align:center">
<p style="font-family:'HarmonyOS Sans','SF Pro Text','SF Pro Icons',robot,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:21px;margin:0px auto;text-align:left;width:458.4px;word-break:break-word">
<span style="color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:600;letter-spacing:inherit;line-height:inherit;text-indent:inherit"> {{amount}}</span>has been credited to your account at <span style="color:inherit;font-family:inherit;font-size:inherit;font-style:inherit;font-weight:600;letter-spacing:inherit;line-height:inherit;text-indent:inherit"> {{date}} </span>.
</p>
</td>
</tr>
</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="margin-top:10px;max-width:508px;width:506.4px">
<tbody>
<tr>
<td style="margin:0px">
<div style="height:0px;width:506.4px"></div>
</td>
</tr>
</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-clip:initial;background-image:initial;background-origin:initial;background-position:initial;background-repeat:initial;background-size:initial;margin:0px auto;max-width:508px;width:506.4px">
<tbody>
<tr>
<td style="margin:0px;padding:0px 24px;text-align:center">
<p style="font-family:'HarmonyOS Sans','SF Pro Text','SF Pro Icons',robot,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:21px;margin:0px auto;text-align:left;width:458.4px;word-break:break-word"></p>
</td>
</tr>
</tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="background-clip:initial;background-image:initial;background-origin:initial;background-position:initial;background-repeat:initial;background-size:initial;margin:60px auto 0px;max-width:508px;width:506.4px">
<tbody>
<tr>
<td style="margin:0px;padding:0px 24px">
<div style="font-family:'HarmonyOS Sans','SF Pro Text','SF Pro Icons',robot,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:21px">Regards,<br>OKX team</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="margin:0px;text-align:center">
<p style="color:black;font-family:'SF Pro Text','SF Pro Icons',robot,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;margin:0px auto;text-align:left;width:455.75px;word-break:break-word"></p>
</td>
</tr>
<tr>
<td style="margin:0px">
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:506.391px">
<tbody>
<tr>
<td style="margin:0px">
<div style="background-color:black;box-sizing:border-box;direction:ltr;font-family:'HarmonyOS Sans','SF Pro Text','SF Pro Icons',robot,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:0px;margin:70px auto 0px;max-width:600px;padding:40px 24px;width:506.4px">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:458.391px">
<tbody>
<tr>
<td style="margin:0px">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin:auto;max-width:348px;width:348px">
<tbody>
<tr>
<td style="font-size:0px;height:28px;margin:0px;word-break:break-word"><a href="#"><img alt="twitter" height="36" src="https://ci4.googleusercontent.com/proxy/hcoMlY9HDH2KxShw7NfxOcN0CUTh_hE-4OgLM0CYqOEIXlVsjqSMAz3ZOjG5puwtoq65ZJ0vXl3Gx7cHq5QzbsO2x6u35nFbiRsGW9hoi4sq-mpOnyw=s0-d-e1-ft#https://static.coinall.ltd/cdn/assets/imgs/239/2F97507FBD4420FF.png" style="height:36px;width:36px" width="36"></a></td>
<td style="margin:0px" width="10%"></td>
<td style="font-size:0px;height:28px;margin:0px;word-break:break-word"><a href="#"><img alt="telegram" height="36" src="https://ci6.googleusercontent.com/proxy/QA2d_L595L_FjKl1isBGLEQLpxFkC7bdE8mWxJyC3jHaFcuQmanyJJ_ZoBFG-JTDia2w6TbO20qDv4UE4m5FpuhjjUfdiloXYNE6hM7yo0A-4ezEnAU=s0-d-e1-ft#https://static.coinall.ltd/cdn/assets/imgs/238/3A1A2907636E422B.png" style="height:36px;width:36px" width="36"></a></td>
<td style="margin:0px" width="10%"></td>
<td style="font-size:0px;height:28px;margin:0px;word-break:break-word"><a href="#"><img alt="tiktok" height="36" src="https://ci6.googleusercontent.com/proxy/0lGWcc0oSzbMw59KwI0IljYeku7W57PBzW0230NDX2i8hBSnZ9TrK76zFwBvmuniVEraSiFDQSpu9zQPfsFsFIvn8wBcw9RvEDpB0WIEoVue_T5wpnE=s0-d-e1-ft#https://static.coinall.ltd/cdn/assets/imgs/238/951D1A29C9A22BD2.png" style="height:36px;width:36px" width="36"></a></td>
<td style="margin:0px" width="10%"></td>
<td style="font-size:0px;height:28px;margin:0px;word-break:break-word"><a href="#"><img alt="linkedin" height="36" src="https://ci4.googleusercontent.com/proxy/JjNJYQLDft-VnWqoZLblIu5ThnJue7zbiHaRwoSGNBBjRm4wvRjJ6so7A2Va2wQh3TVuc20HTb9qpy9ma0SRdpYQT7vf6gLz8FbvwnPhwM4XEcwjHfU=s0-d-e1-ft#https://static.coinall.ltd/cdn/assets/imgs/238/F0749A0D24C6643D.png" style="height:36px;width:36px" width="36"></a></td>
<td style="margin:0px" width="10%"></td>
<td style="font-size:0px;height:28px;margin:0px;word-break:break-word"><a href="#"><img alt="facebook" height="36" src="https://ci6.googleusercontent.com/proxy/eV4XxGsqH__3hPellt-gi10Skdq0k7wPturUvJ-afStQnJ50s-GZmpZwpjPEaNqUAZ8J_7GWnXVHskzOZsZ5I0ccZ75o_hHXEzPhlOG-sVmqdFG-ldE=s0-d-e1-ft#https://static.coinall.ltd/cdn/assets/imgs/238/5E1CBF0956D813EF.png" style="height:36px;width:36px" width="36"></a></td>
<td style="margin:0px" width="10%"></td>
<td style="font-size:0px;height:28px;margin:0px;word-break:break-word"><a href="#"><img alt="reddit" height="36" src="https://ci6.googleusercontent.com/proxy/w4nCeQajT9qQAu---0oB8AQpGLSRQk4PS3w6ZpxoN0O87swSDMKVpIbGO8ajhs9HgpYhJO15zg5QA2QClxFjXJkakt83OLhR01OGqDHnvFUh00nufTs=s0-d-e1-ft#https://static.coinall.ltd/cdn/assets/imgs/238/23394D053A2F63FD.png" style="height:36px;width:36px" width="36"></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td align="center" style="font-size:0px;margin:0px;padding-top:24px">
<div style="margin:auto;max-width:500px">
<div style="margin-bottom:12px"><span style="color:#cccccc;font-size:12px;line-height:16px">Thank you for choosing OKX.</span></div><span style="color:#cccccc;font-size:12px;line-height:16px">Need help? <a href="#" style="color:white">Contact our customer support</a>.</span>
</div>
</td>
</tr>
<tr>
<td align="center" style="margin:0px;padding-top:24px"></td>
</tr>
<tr>
<td style="margin:0px">
<div style="border-top:1px solid rgb(63,63,63);font-size:12px;line-height:18px;margin:auto;max-width:500px"><span style="color:#959595;display:block;margin-top:12px">This email is provided for informational purposes only. It is not intended to provide (i) investment advice or an investment recommendation, (ii) an offer or solicitation to buy, sell or hold digital assets, or (iii) financial, accounting, legal or tax advice. Digital assets, including stablecoins and NFTs, are subject to market volatility, involve a high degree of risk, can lose value, and can even become worthless. You should carefully consider whether trading or holding digital assets is suitable for you in light of your financial condition and risk tolerance. Please consult your legal/tax/investment professional for questions about your specific circumstances. Not all products are offered in all regions including the U.S.A., U.K., Crimea, Cuba, Donetsk, Iran, Luhansk, North Korea, Syria, Malta, Australia, Bangladesh, Bolivia, The Bahamas, Canada, Malaysia, Hong Kong, France, and Singapore. For more details, please refer to the OKX <a href="#" style="color:white">Terms of Use</a> and <a href="#" style="color:white">Risk & Compliance Disclosure</a>.</span></div>
</td>
</tr>
<tr>
<td align="center" style="font-size:0px;margin:0px;padding-top:24px;text-align:center"><span style="color:#cccccc;font-size:12px;line-height:16px">Copyright © 2024 OKX</span></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table></font></div>
</td></tr></table>
</td></tr></table>
</div>
</div>
</body>
</html>