<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{!-- <title>Gmail - 5000 ETH Deposit Confirmed</title> --}}
    <style>
        body, td, div, p, a, input {
            font-family: arial, sans-serif;
            font-size: 13px;
        }
        a:link, a:active {
            color: #1155CC;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        a:visited {
            color: #6611CC;
        }
        img {
            border: 0px;
        }
        pre {
            white-space: pre;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap;
            white-space: pre-wrap;
            word-wrap: break-word;
            max-width: 800px;
            overflow: auto;
        }
        .logo {
            left: -7px;
            position: relative;
        }
        .bodycontainer {
            width: 100%;
        }
        .maincontent {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="bodycontainer">
        <!-- <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr height="14px">
                <td width="143">
                    <img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_server_1x.png" width="143" height="59" alt="Gmail" class="logo">
                </td>
                <td align="right">
                    <font size="-1" color="#777"><b>favour moyeso &lt;favourmoyeso1997@gmail.com&gt;</b></font>
                </td>
            </tr>
        </table> -->
        <hr>
        <div class="maincontent">
            <!-- <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td>
                        <font size="+1"><b>5000 ETH Deposit Confirmed</b></font><br>
                    </td>
                </tr>
            </table>
            <hr> -->
            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="message">
                <!-- <tr>
                    <td>
                        <font size="-1"><b>Roqqu </b>&lt;sent@xolox.buzz&gt;</font>
                    </td>
                    <td align="right">
                        <font size="-1">Tue, Aug 19, 2025 at 1:18 PM</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-bottom: 4px;">
                        <font size="-1" class="recipient">
                            <div>To: favourmoyeso1997@gmail.com</div>
                        </font>
                    </td>
                </tr> -->
                <tr>
                    <td colspan="2">
                        <table width="100%" cellpadding="12" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <div style="overflow: hidden;">
                                        <font size="-1">
                                            <div style="max-width:100%;text-align:center;margin:20px auto">

 {{#if warning}}
                                                <div style="background-color:#d0604c;border-radius:8px;color:white;padding:20px">
                                                    <div style="font-size:18px;font-weight:bold;margin-bottom:10px">⚠</div>
                                                    <p style="font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;font-size:14px;font-weight:bold;line-height:1.4">
                                                  {{warning}}     </p>
                                                </div>
                                            </div>
 {{/if}}

                                            <div style="background-color:white;border-left:none;color:#222222;display:flex;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:small;padding:0px">
                                                <div style="margin:0px;min-width:0px;padding:0px 0px 20px;width:initial">
                                                    <div style="direction:ltr;font-size:0.875rem;margin:8px 0px 0px;overflow-x:hidden;padding:0px">
                                                        <div style="direction:ltr;font-family:Arial,Helvetica,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:small;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:1.5;overflow:auto hidden">
                                                            <div>
                                                                <div class="gmail_quote">
                                                                    <div style="background-color:#222222;font-family:Inter;height:1026.16px;margin:0px;padding:0px;width:611px">
                                                                        <center style="background-color:#f1f1f1;width:611px">
                                                                            <div style="background-color:#f2f2f2;margin:0px;padding:0px">
                                                                                <table bgcolor="#f2f2f2" cellpadding="0" cellspacing="0" style="min-width:320px;width:611px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="margin:0px"><br>
                                                                                                <table align="center" cellpadding="0" cellspacing="0" style="margin:0px auto;width:600px">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td bgcolor="#ffffff" style="margin:0px">
                                                                                                                <table cellpadding="0" cellspacing="0" style="width:600px">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td style="margin:0px">
                                                                                                                                <img height="150" src="https://ci3.googleusercontent.com/meips/ADKq_NbpW3MTJsiu-p4u77f4So05ZBsHyUCFBzxTwTEL1zZvtINQk0zzED4W0QCkZmSJuxt_eudn-k0pjzmThCSIgA1HaSc=s0-d-e1-ft#https://roqqu.com/static/media/mail_cover.png" style="outline:0px" width="600">
                                                                                                                                <div dir="ltr" style="opacity:0.01">
                                                                                                                                    <div aria-label="Download attachment " role="button">
                                                                                                                                        <div></div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td style="margin:0px;padding:40px 25px">
                                                                                                                                <table cellpadding="0" cellspacing="0" style="width:550px">
                                                                                                                                    <tbody>
                                                                                                                                        <tr style="font-family:Arial,Helvetica,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:16px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:22px">
                                                                                                                                            <td style="margin:0px;padding:0px 0px 20px;text-align:center"><strong style="font-size:28px">{{amount}}</strong></td>
                                                                                                                                        </tr>
                                                                                                                                        <tr style="font-family:Arial,Helvetica,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:16px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:22px">
                                                                                                                                            <td style="margin:0px;padding:0px 0px 20px">Your Roqqu wallet has received some tokens, click the button below to go to your wallet.<br><br>If you are signing in on web wallet, make sure you are on <a href="https://app.roqqu.com" rel="noopener noreferrer" style="color:#0091ff;text-decoration-line:none" target="_blank">https://app.roqqu.com</a>.</td>
                                                                                                                                        </tr>
                                                                                                                                        <tr style="font-family:Arial,Helvetica,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:16px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:22px">
                                                                                                                                            <td align="center" style="margin:0px;padding:0px 25px 30px">
                                                                                                                                                <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                                                                                                                    <tbody>
                                                                                                                                                        <tr>
                                                                                                                                                            <td align="center" bgcolor="#20c76c" style="border-radius:0.25rem;margin:0px"><a href="#" style="border-radius:30px;color:white;display:block;font-size:16px;font-weight:bold;line-height:1;padding:20px 70px;text-decoration-line:none" target="_blank">Go to wallet</a></td>
                                                                                                                                                        </tr>
                                                                                                                                                    </tbody>
                                                                                                                                                </table>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                    </tbody>
                                                                                                                                </table>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td style="background-color:#f2f2f2;margin:0px;padding:5px;width:590px"></td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td align="center" style="background-color:#f2f2f2;border-collapse:collapse;margin:0px" valign="top">
                                                                                                                                <table bgcolor="transparent" border="0" cellpadding="10" cellspacing="0" style="border-top-width:0px;width:600px">
                                                                                                                                    <tbody>
                                                                                                                                        <tr>
                                                                                                                                            <td style="border-collapse:collapse;margin:0px" valign="top">
                                                                                                                                                <p></p>
                                                                                                                                                <table border="0" cellpadding="10" cellspacing="0" style="width:580px">
                                                                                                                                                    <tbody>
                                                                                                                                                        <tr>
                                                                                                                                                            <td style="border-collapse:collapse;margin:0px" valign="top" width="350">
                                                                                                                                                                <div align="center" style="color:#707070;font-size:12px;line-height:15px">
                                                                                                                                                                    <h4 style="font-size:22px;line-height:22px;margin:0px 0px 10px">Download our Mobile application</h4>
                                                                                                                                                                    <p>Trade easily anytime, anywhere!</p>
                                                                                                                                                                    <p><a style="color:#525252;margin:0px 7px"><img height="40" src="https://ci3.googleusercontent.com/meips/ADKq_Nbo1MUK5R_OedgvjmPSJ9pv9BYSHmsp2u9SACH-pRj9Uit17byy7CsFy9KI9qHOeNXb_0OZwanCva9QRQ=s0-d-e1-ft#https://roqqu.com/static/media/app.png" style="border:0px;display:inline;height:40px;line-height:12px;outline:currentcolor"> </a><a href="#" style="color:#525252;margin:0px 7px;text-decoration-line:none" target="_blank"><img height="40" src="https://ci3.googleusercontent.com/meips/ADKq_NayKhGjjYEmzFRf6TymlwDX3l6VlPgwPDoVOmHl7qkbNOj1iA7KKEx_l6U9kZK0rQcpLeSgKNV0hKrJeEezRc2rbje2EHo=s0-d-e1-ft#https://roqqu.com/static/media/play.7cbc258f.png" style="border:0px;display:inline;height:40px;line-height:12px;outline:currentcolor"></a></p>
                                                                                                                                                                </div>
                                                                                                                                                            </td>
                                                                                                                                                        </tr>
                                                                                                                                                        <tr>
                                                                                                                                                            <td style="border-collapse:collapse;margin:0px">
                                                                                                                                                                <div align="center" style="color:#707070;font-size:12px;line-height:15px">
                                                                                                                                                                    <h4 style="font-size:22px;line-height:22px;margin:0px 0px 10px">Follow us</h4>
                                                                                                                                                                    <p style="margin-top:5px"><a href="#" style="color:#525252;text-decoration-line:none" target="_blank"><img height="18" src="https://ci3.googleusercontent.com/meips/ADKq_NbbdzIGV-b7NweIk0iC-itc7ePV09nH1DIXwpNy1Q5sEiaPaWPwV9AGY614G8Cr7qOApTxGsY6JQzbX2tlmw-9iBdA_8FjbKEL7dlISBJ6wcqnsIyJE=s0-d-e1-ft#https://img.icons8.com/ios-filled/48/000000/facebook-circled.png" style="border:0px;display:inline;height:18px;line-height:12px;margin:0px 7px;outline:currentcolor"></a> <a href="#" style="color:#525252;text-decoration-line:none" target="_blank"><img height="18" src="https://ci3.googleusercontent.com/meips/ADKq_NbLbMFnw7JWGWR5jY9dyMzpqMH2hzqLlj1WTcXRXv3cg10X4KImKVOvLLW91pJXCNn91H7-UP_3ZLCaezYtsrF8Ptn25WaBOGQ3=s0-d-e1-ft#https://img.icons8.com/android/48/000000/twitter.png" style="border:0px;display:inline;height:18px;line-height:12px;margin:0px 7px;outline:currentcolor"></a> <a href="#" style="color:#525252;text-decoration-line:none" target="_blank"><img height="18" src="https://ci3.googleusercontent.com/meips/ADKq_NZg39QeSYRBh5ardEXN0oQoRQO1k7_5cdK96Oc_r6-VvTPGxJiQ2u_hrkh_rukFgrEQa5eM2pyshVToJwBXs7dRKeBtjlsLYN7bVf2CTfJFZtaI=s0-d-e1-ft#https://img.icons8.com/ios-filled/48/000000/instagram-new.png" style="border:0px;display:inline;height:18px;line-height:12px;margin:0px 7px;outline:currentcolor"></a></p>
                                                                                                                                                                </div>
                                                                                                                                                            </td>
                                                                                                                                                        </tr>
                                                                                                                                                        <tr>
                                                                                                                                                            <td style="border-collapse:collapse;margin:0px">
                                                                                                                                                                <div align="center" style="color:#707070;font-size:12px;line-height:15px">
                                                                                                                                                                    <p><a href="#" style="color:#525252;margin:0px 5px;text-decoration-line:none" target="_blank">Privacy Policy</a> • <a href="#" style="color:#525252;margin:0px 5px;text-decoration-line:none" target="_blank">Help Center</a></p>
                                                                                                                                                                    <p>Copyright © 2025 RedRaven Limited<br>All rights reserved.<br>A division of Elatech Limited</p>
                                                                                                                                                                </div>
                                                                                                                                                            </td>
                                                                                                                                                        </tr>
                                                                                                                                                    </tbody>
                                                                                                                                                </table>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                    </tbody>
                                                                                                                                </table>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </center>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </font>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>