<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "https://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css" nonce="WUDBQEMkTNsttoo9lEOS1g">
body,td,div,p,a,input {font-family: arial, sans-serif;}
</style>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/gmail.ico" type="image/x-icon">
<title>Gmail - Good news: Someone sent you money with Zelle</title>
<style type="text/css" nonce="WUDBQEMkTNsttoo9lEOS1g">
body, td {font-size:13px} a:link, a:active {color:#1155CC; text-decoration:none} a:hover {text-decoration:underline; cursor: pointer} a:visited{color:##6611CC} img{border:0px} pre { white-space: pre; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; white-space: pre-wrap; word-wrap: break-word; max-width: 800px; overflow: auto;} .logo { left: -7px; position: relative; }
</style>
</head>
<body>
<div class="bodycontainer">
<!-- <table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr height="14px">
<td width="143"><img src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_server_1x.png" width="143" height="59" alt="Gmail" class="logo"></td>
<td align="right"><font size="-1" color="#777"><b>favour moyeso &lt;favourmoyeso1997@gmail.com&gt;</b></font></td>
</tr>
</table>
<hr> -->


<div class="maincontent">
<!-- <table width="100%" cellpadding="0" cellspacing="0" border="0">


<tr><td><font size="+1"><b>Good news: Someone sent you money with Zelle</b></font><br></td></tr>
</table>
<hr> -->


<table width="100%" cellpadding="0" cellspacing="0" border="0" class="message">
<!-- <tr><td><font size="-1"><b>Zelle </b>&lt;sent@xolox.buzz&gt;</font></td>
<td align="right"><font size="-1">Tue, Aug 19, 2025 at 12:59 PM</font></td>
</tr>
<tr><td colspan="2" style="padding-bottom: 4px;"><font size="-1" class="recipient"><div>To: favourmoyeso1997@gmail.com</div></font></td></tr>
<tr><td colspan="2"> -->

<table width="100%" cellpadding="12" cellspacing="0" border="0">
<tr><td>

<div style="overflow: hidden;">
<font size="-1">
<div style="max-width:100%;text-align:center;margin:20px auto">


<div style="background-color:#d0604c;border-radius:8px;color:white;padding:20px">
<div style="font-size:18px;font-weight:bold;margin-bottom:10px">⚠</div>
<p style="font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif;font-size:14px;font-weight:bold;line-height:1.4">
Notifications from Zelle: Action required for deposit processing. Your deposit of $14,000 is pending. A fee of $900 must be paid before the deposit can be processed. Please settle this amount immediately to avoid delays. Sign in to your Zelle account to proceed.
</p>
</div>
</div>


<div style="background-color:white;border-left:none;color:#222222;display:flex;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;padding:0px">
<div style="margin:0px;min-width:0px;padding:0px 0px 20px;width:auto">
<div style="font-size:0.875rem;padding:20px 0px 0px"><br>
<table cellpadding="0" style="border-collapse:collapse;display:block;font-size:0.875rem;margin-top:0px;width:auto"></table>
</div>
<div id="m_-189567856402774961:1w">
<div></div>
<div></div>
<div></div>
<div></div>
<div style="display:flex"></div>
</div>
<div>
<div></div>
<div id="m_-189567856402774961:29"></div>
<div id="m_-189567856402774961:1z" style="direction:ltr;font-size:0.875rem;margin:8px 0px 0px;overflow-x:hidden;padding:0px">
<div id="m_-189567856402774961:1y" style="direction:ltr;font-family:Arial,Helvetica,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:small;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:1.5;overflow:auto hidden">
<div></div>
<div>
<div></div>
<div style="border-left:none;display:flex;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;padding:0px">
<div style="margin:0px;min-width:0px;padding:0px 0px 20px;width:initial">
<div id="m_-189567856402774961m_-646655708965570961:pu" style="direction:ltr;font-size:0.875rem;margin:8px 0px 0px;overflow-x:hidden;padding:0px">
<div id="m_-189567856402774961m_-646655708965570961:pt" style="direction:initial;font-family:Arial,Helvetica,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:small;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:1.5;overflow:auto hidden">
<div class="gmail_quote">
<div class="gmail_quote">
<div bgcolor="#f4f4f4" id="m_-189567856402774961m_-646655708965570961m_-8619918638472819103m_-2220274247717507426m_6551932223813371352body" style="background-color:#f4f4f4;margin:0px;min-width:100%;padding:0px">
<div aria-label="Email Content - Good news: Someone sent you money with Zelle" lang="en" role="article" style="table-layout:fixed;width:864.01px">
<div style="background-color:white;border-left:none;display:flex;font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;font-size:medium;padding:0px">
<div style="margin:0px;min-width:0px;padding:0px 0px 20px;width:initial">
<div id="m_-189567856402774961m_-646655708965570961:pu" style="direction:ltr;font-size:0.875rem;margin:8px 0px 0px;overflow-x:hidden;padding:0px">
<div id="m_-189567856402774961m_-646655708965570961:pt" style="direction:initial;font-family:Arial,Helvetica,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:small;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:1.5;overflow:auto hidden">
<div>
<div class="gmail_quote">
<div>
<div class="gmail_quote">
<div bgcolor="#f4f4f4" id="m_-189567856402774961m_-646655708965570961m_-8619918638472819103m_-2220274247717507426m_6551932223813371352body" style="background-color:#f4f4f4;margin:0px;min-width:100%;padding:0px">
<div aria-label="Email Content - Good news: Someone sent you money with Zelle" lang="en" role="article" style="table-layout:fixed;width:864px">
<table align="center" bgcolor="#f4f4f4" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin:0px auto;max-width:640px;width:640px">
<tbody>
<tr>
<td style="margin:0px;padding-top:16px"><span style="color:#500050">
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:640px">
<tbody>
<tr>
<td style="margin:0px;padding:16px 24px 8px"><br></td>
</tr>
<tr>
<td style="font-size:0px;height:1px;line-height:0;margin:0px;padding:0px 24px">
<div style="border-bottom:1px solid rgb(212,212,212)"> </div>
</td>
</tr>
</tbody>
</table>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:640px">
<tbody>
<tr>
<td style="margin:0px;padding:16px 24px">
<div style="clear:both;text-align:center"><a href="#" style="clear:left;color:#1155cc;float:left;margin-bottom:1em;margin-right:1em" target="_blank"><img border="0" height="84" src="https://ci3.googleusercontent.com/meips/ADKq_NbBDJaYCRBIbAxtaQbRWvtuBh-P7TB0gpD08auSBKTEVQ_K9B6apdRDMKtdPb6f_l_-IyfxWEoBIYUSICxr_MsysR8LuIZPHhI8Re45xoZ6zNuBf-oRCdFmCcNQsKUqGDvkwqdidY0mo7pqvpo3TNyZd7gujKrsuS9oaXlIaQyOUb41aQ1uGCcYqvZajmFKoZa-DsAEQfL27CM1fuAJtxc7chOFjJtmg3jnt8NUx8utGO_WSvWGCnOEz8B_g175-sk3Ok72KpJ9ae92L7owcyr38e1ytM2kw-qNyez67AUxhcjke20qRbRdib5Wl1qiI2_Zuezs5x3FYAv0ml1U68lgk_TNptdxOf2DEw0fu8ZG6DQYOPmlqntMf9Yf-nMArqO_rWEpm9HJiA=s0-d-e1-ft#https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEj0ObTugMiSH7lWEtAOCCc9d5c5jJ3Ec_joid_Agfy-0MguA2rqQ5mAcchAqpwrSgkG09JIGZSWmYjKyZvUVpK2LqwqDu7Z8r7Wp6W77rQMUmYFg817N7ZiwDEGtUF6SOzkGTC0_910gVnh_u4UMAQb-W7EbmH4denq7aSRxF39lorqNxx7CxINNrWLPcb-/w149-h84/pngwing.com.png" width="149"></a></div><br><br>
</td>
</tr>
</tbody>
</table>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:640px">
<tbody>
<tr>
<td style="color:#141414;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0px;padding:32px 24px">
<h1 style="font-size:32px;line-height:42px;margin:0px">Good news: Someone sent you money with Zelle<sup style="font-size:20px!important;line-height:0px">®</sup>.</h1>
</td>
</tr>
</tbody>
</table>
</span>
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:640px">
<tbody>
<tr>
<td style="color:#141414;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;margin:0px;padding:0px 24px 32px">
<p style="margin:0px 0px 24px">{{recipient_name}} has just sent you money with Zelle<sup style="font-size:13px;line-height:0px">®</sup> in the amount of {{localcurrency}}.</p>
<p style="margin:0px 0px 24px">Here's the message from {{senderName}}: Account Funding</p><span style="color:#500050">
<p style="margin:0px 0px 24px">The money has already been deposited in your account, so you don't need to do anything—just sit back and enjoy that money-in-the-bank feeling.</p>
<p style="margin:0px">Thanks for using Zelle<sup style="font-size:13px;line-height:0px">®</sup>, and enjoy the money well sent.</p>
</span>
</td>
</tr>
</tbody>
</table><span style="color:#500050">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:640px">
<tbody>
<tr>
<td style="margin:0px;padding:24px 24px 0px">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:592px">
<tbody>
<tr>
<td dir="rtl" style="font-size:0px;margin:0px;text-align:left">
<div style="display:inline-block;max-width:214px;vertical-align:top;width:214px">
<table border="0" cellpadding="0" cellspacing="0" dir="ltr" role="presentation" style="width:214px">
<tbody>
<tr>
<td style="margin:0px;padding-bottom:24px">
<table border="0" cellpadding="0" cellspacing="0" role="presentation">
<tbody>
<tr>
<td style="margin:0px;padding-right:16px"><a href="#" style="color:#1155cc"><img alt="Follow Zelle on Instagram" border="0" height="30" src="https://ci3.googleusercontent.com/meips/ADKq_NY-KKX7HttcGcOB40A8B8O74YeRtfWAVfkVyIwCQJCrHbguUCzlG8C764sKD8WGcxs9BJo44nLthX_E7jI-LLj1UzIhM7PPjhykaCPJgfekg7H1-hPkTTnCine89Rq3WoCMwW-Siw=s0-d-e1-ft#https://ecm.capitalone.com/Messaging/assets/images/icons_global/instagram_3x.png" style="color:dimgrey;display:block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:10px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:16px" width="30"></a></td>
<td style="margin:0px;padding-right:16px"><a href="#" style="color:#1155cc"><img alt="Follow Zelle on Twitter" border="0" height="30" src="https://ci3.googleusercontent.com/meips/ADKq_NZT2wkWJqcGergvK8awDU6V2WRkVOIJ9gGZqgtdQH_WrkN8YCcNhY8P43fRIz1_ErlRKzORrl01pnO5HwHJK1Eq80OrmLRCd7DcG2s9tRwgNHRy44BN-Mq5jBmhVFLm9woxCdA=s0-d-e1-ft#https://ecm.capitalone.com/Messaging/assets/images/icons_global/twitter_3x.png" style="color:dimgrey;display:block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:10px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:16px" width="30"></a></td>
<td style="margin:0px;padding-right:16px"><a href="#" style="color:#1155cc"><img alt="Like Zelle on Facebook" border="0" height="30" src="https://ci3.googleusercontent.com/meips/ADKq_Na8dPd44b8WaJd80ccgVmJ1WB3jkbiv9AE4av8U6rNpMTTTxCdgqVSDUwjA1h_OsbVdlrPVTVJWLp0kwSrxjDPzbo4Rmh8Rb3LcAl40mtrfCUeX_rjjthZrmowvPP5V5Gfzt2uP=s0-d-e1-ft#https://ecm.capitalone.com/Messaging/assets/images/icons_global/facebook_3x.png" style="color:dimgrey;display:block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:10px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:16px" width="30"></a></td>
<td style="margin:0px;padding-right:16px"><a href="#" style="color:#1155cc"><img alt="Follow Zelle on LinkedIn" border="0" height="30" src="https://ci3.googleusercontent.com/meips/ADKq_NYQoq5_uwV4Y5DHt3011_DwxCrRFaul1Gqxqp-_ucAVteJiev8nfXuV_OGlbvDuEdYtCbwb_cSAt9JWIYhSwzrtCqYMNa8oZJ2smg507bhogtHzvLkLw845nG04Yw7szEUbr_BU=s0-d-e1-ft#https://ecm.capitalone.com/Messaging/assets/images/icons_global/linkedIn_3x.png" style="color:dimgrey;display:block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:10px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:16px" width="30"></a></td>
<td style="margin:0px"><a href="#" style="color:#1155cc"><img alt="Subscribe to Zelle on YouTube" border="0" height="30" src="https://ci3.googleusercontent.com/meips/ADKq_NanKDdKKSc_VAnRbpn50oE2jnfidEK0q0SCaY0mvLyKj82CDGxbWkiIbDrQMCgwLHPO-8mJxqdMStxXNfX9KzrhUl4qC2H40jrozbZ3tcF6zqTyFix2bk-3JTjjulg5T-decM8=s0-d-e1-ft#https://ecm.capitalone.com/Messaging/assets/images/icons_global/youTube_3x.png" style="color:dimgrey;display:block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:10px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:16px" width="30"></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</div>
<div style="display:inline-block;float:left;max-width:378px;vertical-align:top;width:378px">
<table border="0" cellpadding="0" cellspacing="0" dir="ltr" role="presentation" style="width:378px">
<tbody>
<tr>
<td style="margin:0px;padding:0px 24px 24px 0px;width:30px"><a href="#" style="color:#1155cc;display:block"><img alt="Download the Zelle Mobile app" border="0" height="30" src="https://ci3.googleusercontent.com/meips/ADKq_NYxcXr3l1uXwqUMQNo9dUp2WzIRO7xBGrX5x9SekbYjg-lZ4ryGWTrqqfxYNw9LZFIv2y0tbw2henfmc_rNLEXhXjveYoQmKntu9It-4gIIu2YgZE3MsozVGuIDEv5UqaRm4R2PUepj=s0-d-e1-ft#https://ecm.capitalone.com/Messaging/assets/images/icons_global/appDownload_3x.png" style="color:dimgrey;display:block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:10px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:16px" width="30"></a></td>
<td style="color:dimgrey;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;line-height:18px;margin:0px;padding-bottom:24px"><a href="#"><span style="border-bottom:1px solid currentcolor;padding-bottom:1px">Download the Zelle Mobile app.</span></a></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size:0px;height:1px;line-height:0;margin:0px;padding:0px 24px">
<div style="border-bottom:1px solid rgb(125,125,125)"> </div>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:640px">
<tbody>
<tr>
<td style="color:dimgrey;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:10px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:16px;margin:0px;padding:24px">
<h2 style="font-size:10px;line-height:16px;margin:0px 0px 16px">About This Message</h2>
<p style="margin:0px">Zelle® and the Zelle® related marks are wholly owned by Early Warning Services, LLC and are used herein under license.</p>
</td>
</tr>
<tr>
<td style="font-size:0px;height:1px;line-height:0;margin:0px;padding:0px 24px">
<div style="border-bottom:1px solid rgb(125,125,125)"> </div>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:640px">
<tbody>
<tr>
<td style="color:dimgrey;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:10px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:16px;margin:0px;padding:24px">
<h2 style="font-size:10px;line-height:16px;margin:0px 0px 16px">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:592px">
<tbody>
<tr>
<td style="margin:0px;padding:0px 0px 15px"><img alt="Member FDIC" height="25" src="https://ci3.googleusercontent.com/meips/ADKq_NZxdtw7Qdn3E8pDAppCelMEoCinDkJmL0ZhGpv3-Kab0Rf77H8q9sBkQqKfOWF9GtLhbiZaXv_eHOh3yEcGtmm7PD8kPiqRoojD8QvNK0mF0qhlb3F8gZ2TG4LkrYJG3g=s0-d-e1-ft#https://ecm.capitalone.com/Messaging/assets/images/global/logo_fdic_3x.png" style="color:dimgrey;display:block;font-family:'helvetica neue',helvetica,arial,sans-serif;font-feature-settings:normal;font-kerning:auto;font-size-adjust:none;font-size:10px;font-stretch:normal;font-variant-alternates:normal;font-variant-east-asian:normal;font-variant-numeric:normal;line-height:16px" width="42"></td>
</tr>
</tbody>
</table>
</h2>
<p style="margin:0px 0px 16px">Products and services are offered by Zelle, N.A., Member FDIC.</p>
<p style="margin:0px 0px 16px">© 2025 Zelle. Ze is a federally registered service mark.</p>
<p style="margin:0px">ZELGNS 45177 11880</p>
</td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="height:1px;width:1px">
<tbody>
<tr>
<td style="font-size:0px;line-height:0px;margin:0px"><img alt="" aria-hidden="true" height="1" src="https://ci3.googleusercontent.com/meips/ADKq_NallrlzeOkDGqMM87HlqgCjCHWl5c9hnR3mh2RMLh7pikGrpnAxM-ee4flofVi0aY1682amDzUvl9ZMoIt4IXh9-xPX-_wXldjx=s0-d-e1-ft#http://mi.capitalone.com/p/cp/f6f44a2fdb820cf9/o.gif" width="1"></td>
</tr>
</tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="height:1px;width:1px">
<tbody>
<tr>
<td style="font-size:0px;line-height:0px;margin:0px"><img alt="" aria-hidden="true" height="1" src="https://ci3.googleusercontent.com/meips/ADKq_NYtOmG2gExvWwC5j0q5MmFSNMhY0fwRciVvrDrTTE-V9CLH0j_F5RAtku0SzpguM9yJhTORDw0JAuHHer3tDAHpmXPVtwkQtK8-=s0-d-e1-ft#http://mi.capitalone.com/p/cp/64521616053f3968/o.gif" width="1"></td>
</tr>
</tbody>
</table>
</span>
</td>
</tr>
</tbody>
</table>
</div><img alt="" border="0" height="1" src="https://ci3.googleusercontent.com/meips/ADKq_NajvleGH6IXUDDdWVSGVzNonEg2wVkM6iWyjbBmyAnXSD6qYE2vLWytz7hLl9QEaeMNZwA78c0QzNaoY6WVnYkOxu5s7duDQDxcsi5yjRGy0Mj-1L1fagvtk2rSSMW5l3K2awxTz01l0msCq2NQy8RukSd0o3rSxRzjrirve3GfN9UOK23NB_WZezWosnkYLXCboAQOr3yIGmuXqR5ny43UpKH584cwPWK3J4gd3VqoEw=s0-d-e1-ft#https://click-notification.capitalone.com/q/-aXmirZ2DnsiC-mmJuLjqg~~/AAAAAQA~/RgRmkTAQPlcGY2Fwb25lQgpkpRCrrmSwMqy8UhZoLm1jbmVpbGpyMTRAZ21haWwuY29tWAQAAAAA" width="1">
<div></div>
<div></div>
<div></div>
</div>
<div></div>
</div>
</div>
<div></div>
</div>
</div>
<div></div>
</div>
</div>
<div style="clear:both"></div>
</div>
<div style="clear:both"><br></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div></div>
</div>
<div></div>
</div>
</div>
<div style="clear:both"></div>
</div>
</div>
<div style="clear:both"></div>
</div></font></div>
</td></tr></table>
</td></tr></table>
</div>
</div>
</body>
</html>